
.sectionGroup{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}


        

    

        .cards{
            justify-content: center;
            flex-direction: row !important;
            gap: 2rem;
            flex-wrap: wrap;
        }



        .cardGroup{
            width: 100%;
            height: 350px;
            background-color: #800020;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding-top: 1.5rem;
            padding-bottom: 2rem;
        }


        .teamGroup{
            background-color: #fff;
            text-align: center;
            width: 90%;
            height: 20%;
        
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            font-size: 22px;
            font-weight: bold;
            color: #800020;
            display: flex;
        }



        


        .numberGroup{
            text-align: center;
            padding-top: .5rem;
            padding-bottom: .9rem;
            font-size: 25px !important;
            color: #800020 !important;
            font-weight: bold !important;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

        }

        .g1{
            width: 40%;
            margin-top: 2rem;
        }
           


        .nameTeam{
            width: 75%;
            border-radius: 20px;
            text-align: center;
            font-size: 30px !important ;
            display: flex;
            align-items: center;
            justify-content: center;
        }





        /*Responsive*/
        @media(max-width:400px){
            .responsive-Group{
                display: none !important;
            }
        }